
.flex-containter{
    display: flex;
  }
  
  header .flex-item:nth-child(1){
    display: flex;
    background-color:grey ;
    flex-wrap:wrap;
    padding-top: 4rem;
    padding-bottom: 1rem;
  }
  
  header div:nth-child(2){
    padding-left: 2rem;
  }
  
  .flex-item{
    display: flex;
    flex-wrap:nowrap;
    height: 100%;
  }
  
  .flexcard{
    flex: 0 0 250px;
    background-color: white;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
  }
  
  .flexcard p {
    text-align: center;
  }
  
  .flexcal{
    background-color: white;
    border: 2px solid #7ab4ff;
    flex: 0 0 250px;
  }
  
  .flexcal p{
    text-align: center;
  }
  
  .flexcal ul{
    list-style-type: none;
  }